<footer>
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__text">
                Система контроля и обеспечения учебной деятельности
            </div>
            <div class="line"></div>
            <div class="footer__text">
                &copy; {{ "now"|date("Y") }} Kitedu
            </div>
        </div>
    </div>
</footer>
