{% extends 'base.html.twig' %}

{% block title %}Предметы{% endblock %}

{% block body %}

<div>
    <a href="{{ path('app_panel') }}">Вернуться в панель</a>
</div>

<div>
    <h1>Добавление учебных предметов</h1>

    <form action="{{ path('add_subject') }}" method="post">
        <div>
            <label for="subject_name">Название предмета</label>
            <input type="text" id="subject_name" name="subject_name" required>
            <button type="submit">Добавить предмет</button>
        </div>
    </form>

    <h2>Список учебных предметов</h2>
    <ul>
        {% for subject in subjects %}
            <li>{{ subject.name }}</li>
        {% else %}
            <li>Нет добавленных предметов</li>
        {% endfor %}
    </ul>
</div>


    

{% endblock %}
