<div>
    <form method="post" action="{{ path('add_student') }}">
        <div>
                <label for="last_name">Фамилия:</label>
                <input type="text" id="last_name" name="last_name" required>
                <label for="first_name">Имя:</label>
                <input type="text" id="first_name" name="first_name" required>
                <label for="middle_name">Отчество:</label>
                <input type="text" id="middle_name" name="middle_name" required>
                <label for="birthday_date">Дата рождения:</label>
                <input type="date" id="birthday_date" name="birthday_date" required>
                <label for="group_id">Группа:</label>
                <select id="group_id" name="group_id" required>
                    <option value="" disabled selected>Выберите группу</option>
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit" >Добавить</button>
        </div>
    </form>
</div>
