footer {
    background-color: var(--color-grey-100);
}

.footer__wrap {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: var(--offset-xxs); */
}

.footer__text {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 20px;
}

.line {
    width: 100%;
    border-bottom: 2px solid var(--color-font-bright);
}