.header__wrap {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.header__paths {
    display: flex;
}

.header__paths__link {
    /* background-color: var(--color-dwhite); */
    color: var(--color-font);
    text-decoration: none;
    align-content: center;
    text-align: center;
    height: 30px;
    width: 200px;
}

.header__paths__link:hover {
    transition: 0.3s;
    color: var(--color-main);    
}