.students__wrap {
    display: grid;
    grid-auto-flow: row;
    gap: var(--offset-m);
}

.students__table {
    width: 100%;
    background-color: var(--color-grey-200);
    border-radius: var(--offset-xxs);
    border-collapse: collapse;
    table-layout: fixed;
}

.students__table td,
.students__table th {
    border: 2px solid var(--color-grey-400);
    width: 33%;
}

.students__table th {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    text-align: center;
    padding: var(--offset-3xs);
}

.students__table td {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-font);
    padding: var(--offset-3xs);
}

tr th:first-child, tr td:first-child {
    border-left-color: transparent;
}

tr th:last-child, tr td:last-child {
    border-right-color: transparent;
}

.students__table th {
    border-top-color: transparent;
}

.students__table tr:last-child td {
    border-bottom-color: transparent;
}

a {
    text-decoration: none;
    color: var(--color-main);
}

a:hover {
    transition: 0.3s;
}

.btn:hover {
    transition: 0.3s;
    background-color: var(--color-main);
}