.teachers__wrap {
    display: grid;
    grid-auto-flow: row;
    gap: var(--offset-m);
}

.teachers__head {

}

.teachers__buttons {

}

.teachers__body {

}

.teachers__table {
    width: 100%;
    background-color: var(--color-background);
    border-radius: var(--offset-xxs);
    border-collapse: collapse;
    table-layout: fixed;
}

.teachers__table td,
.teachers__table th {
    border: 2px solid var(--color-main);
    width: 33%;
}

.teachers__table th {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-font);
    padding: var(--offset-3xs);
}

.teachers__table td {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-font);
    padding: var(--offset-3xs);
}

tr th:first-child, tr td:first-child {
    border-left-color: transparent;
}

tr th:last-child, tr td:last-child {
    border-right-color: transparent;
}

.teachers__table th {
    border-top-color: transparent;
}

.teachers__table tr:last-child td {
    border-bottom-color: transparent;
}