{% extends 'base.html.twig' %}

{% block body %}
    <div class="schedule centered">
        {% include 'block/schedule.html.twig' with {'group': group} %}
    </div>
    <div class="grades">
        {% include 'block/grades.html.twig' with {'group': group} %}
    </div>    
    <div class="profile">
        {% include 'block/profile.html.twig' with {'user': user} %}
    </div>
{% endblock %}

