<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('/styles/main.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheets %}
            
        {% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}Система Обучения{% endblock %}</title>        
    </head>
    <body>
        <header>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        
        <footer>
        </footer>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>


