<div class="popup" id="addGroupPopup">
    <div class="popup__wrap">
        <div class="popup__head">
            <div class="popup__title">Добавить группу</div>
            <div class="popup__close" onclick="closePopup()">
                <span></span>
                <span></span>
            </div>
        </div>
        <form class="popup__body" action="{{ path('admin_create_group') }}">
            <div class="popup__body__row">
                <p>Название</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>
            <div class="popup__body__row">
                <p>Код</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>
            <div class="popup__body__row">
                <p>Описание</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>          

            <div class="popup__buttons">
                <button class="btn btn-primary">Добавить</button>
                <button class="btn btn-secondary" onclick="closePopup()">Отменить</button>
            </div>
        </form>        
    </div>
</div>