<div class="popup" id="addTeacherPopup">
    <div class="popup__wrap">
        <div class="popup__head">
            <div class="popup__title">Добавить студента</div>
            <div class="popup__close" onclick="closePopup()">
                <span></span>
                <span></span>
            </div>
        </div>
        <form class="popup__body" action="{{ path('admin_create_teacher') }}">
            <div class="popup__body__row">
                <p>Логин</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>
            <div class="popup__body__row">
                <p>Пароль</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>
            <div class="popup__body__row">
                <p>Фамилия</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>
            <div class="popup__body__row">
                <p>Имя</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>
            <div class="popup__body__row">
                <p>Отчество</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>
            <div class="popup__body__row">
                <p>Должность</p>
                <input class="popup__body__input" type="text" name="category_name" required>
            </div>            

            <div class="popup__buttons">
                <button class="btn btn-primary">Добавить</button>
                <button class="btn btn-secondary" onclick="closePopup()">Отменить</button>
            </div>
        </form>        
    </div>
</div>