{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать{% endblock %}

{% block body %}
        <h1>Добро пожаловать на наш сайт!</h1>

        <p>Удивительный сайт для диплома.</p>

        <div>
            <a href="{{ path('app_register') }}">Регистрация</a>
            <a href="{{ path('app_login') }}">Войти в аккаунт</a>
        </div>
{% endblock %}
