<footer class="footer">
    <div class="container">
        <div class="social-links">
            <a href="https://vk.com/notinav" target="_blank" class="social-link">ВКонтакте</a>
            <a href="https://t.me/Why_Not_me_a" target="_blank" class="social-link">Телеграм</a>
        </div>
        <div class="copyright">
            &copy; {{ "now"|date("Y") }} Все права защищены (честно)
        </div>
    </div>
</footer>
