<footer>
    <div>
        <div>
            <a href="https://vk.com/notinav" target="_blank">ВКонтакте</a>
            <a href="https://t.me/Why_Not_me_a" target="_blank">Телеграм</a>
        </div>
        <div>
            &copy; {{ "now"|date("Y") }} Все права защищены (честно)
        </div>
    </div>
</footer>
